   <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <!-- User Name input -->
            <div class="form-outline mb-4">
              <input class="form-control form-control-lg" type="text" name="username" id="userName" [(ngModel)]="userName" placeholder="User Name">
              <label class="form-label" for="userName">User Name</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input class="form-control form-control-lg" type="password" name="pass" [(ngModel)]="password" placeholder="Password">
              <label class="form-label">Password</label>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"  (click)="signin()">Login</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    </div>
  </section>
